<div class="container-fluid">
    <div class="row">
        <div class="outer-header">
        <div class="header">
          UI Case Study - Hotel Booking Application
        </div>
      </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <img src="/assets/images/main.jpg" class="main-img">
              </div>
              <div class="col-md-10">
                <span id="search-text">Search Hotels</span>
                <div id="search">
                  
                </div>
              </div>
        </div>

        <footer>
            Accenture &copy; 2017
          </footer>
  </div>